<p>This is where individual user tasks will be displayed, defaulting to the current date.</p>
<p>A single day's tasks will be displayed with navigation forward and backward.</p>
<p>Users who are marked as minors will see a completely different UI with many elements removed.</p>
<p>For example, Minors will not see the navigation menu on the left at all.  If they are in only one family,
    they will not have any navigation.  They will not see other members of their families or any user profile interface.
</p>
