<h2 mat-dialog-title>Create New Family</h2>
<div mat-dialog-content class="">
    <form class="" [formGroup]="familyForm">
        <mat-form-field class="">
            <mat-label>Family Name:</mat-label>
            <input matInput formControlName="name" placeholder="Name of family" type="text">
            <mat-hint>Minimum 4 characters.  Try "The xxx" format if too short."</mat-hint>
            <mat-error>Family names must be 4 characters.</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="">
    <button mat-raised-button color="primary" class="submit" [class.disabled]="familyForm.valid" type="submit" (click)="saveFamily()">Save</button>
    <button mat-raised-button color="warn" type="submit" (click)="closeEdit()"></button>
</div>