<div class="admin-flex">
    <div class="admin-profile">
        <div *ngIf="user.photo" class="admin-photo">
            <a routerLink="/admin">
                <img class="admin-photo" src="{{user.photo}}">
            </a>
        </div>
        <p *ngIf="user">{{user.firstName}} </p>
    </div>
    <div class="admin-family">
        <p>Your Memberships <button *ngIf="!user.minor" mat-mini-fab color="primary" (click)="newFamily()">+</button>
        </p>
        <ng-container *ngIf="fids.length > 0">
            <div *ngFor="let fid of fids, index as i" class="admin-family">
                <app-family-base [displayfid]=fids[i]></app-family-base>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="minorids.length > 0">
        <div>
            <p>Your Minors:</p>
            <div *ngFor="let minor of minorids, index as i" class="">
                <app-minor-base [viewmid]=minorids[i].id></app-minor-base>
            </div>
        </div>
    </ng-container>
</div>